<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @child.name %>
</p>

<p>
  <b>Age:</b>
  <%= @child.age %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to @child.parent.name, @child.parent %>
</p>

<p>
  <b>Grand Parent:</b>
  <%= link_to @child.grand_parent.name, @child.grand_parent %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
