<%= form_for(@grand_parent) do |f| %>
  <% if @grand_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grand_parent.errors.count, "error") %> prohibited this grand_parent from being saved:</h2>

      <ul>
      <% @grand_parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
